torch==2.2.2
torchvision==0.17.2
facenet-pytorch==2.6.0

streamlit==1.37.1

opencv-python-headless==4.10.0.84

numpy==1.26.4
Pillow==10.2.0

matplotlib==3.9.2

scikit-learn==1.5.2

tqdm==4.66.5
timm==1.0.15
